<h1>This is a list of the recipes created by <%=@user.username%>.</h1>

<ul>

  <% @user.recipes.each do |recipe| %>
    <li><a href="/recipes/<%=recipe.id%>"><%=recipe.name%></a></li>

  <% end %>
</ul>
<br><br>

  <h3>Would you like to make a <a href="/recipes/new">new recipe</a>?</h3>
<br><br>
<br><br>

<a href="/logout">Logout</a>
