<h1>Welcome, <%= @user.username%>.</h1>

  <ul>
    <h3>What would you like to do?</h3>
    <li>Show all recipes you made?</li>
    <li>Create a new recipe</li>
    <br>
  </ul>

  <a href="/logout">Logout</a>
