<h1>Welcome, <%= @user.username%>.</h1>

  <ul>
    <h3>What would you like to do?</h3>
    <li>Show <a href="/recipes">all recipes</a> you made?</li>
    <li>Create a <a href="/recipes/new">new recipe</a></li>
    <br>
  </ul>

  <a href="/logout">Logout</a>
