<h1>Here is a list of all the ingredients used in your recipes.</h1>

<ul>
  <%@ingredients.each do |ingredient| %>
    <p><%=ingredient.name%></p>
  <%end%>
</ul>

<p>would you like to add a <a href="/ingredients/new">new ingredient?</a></p>
